<div class="row" style="margin-top: 80px">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail" >
            <i class="fa fa-newspaper-o"  aria-hidden="true" style="display: inline-block" ></i>
            <div class="caption">
              <h3>Blog Post</h3>
              <p>...</p>
                 <a href="#" class="btn btn-default" role="button">Button</a>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                  <div class="caption">
                    <h3>White Paper</h3>
                    <p>...</p>
                     <a href="#" class="btn btn-default" role="button">Button</a></p>
                  </div>
                </div>
              </div>
  
              <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <div class="caption">
                        <h3>website Content</h3>
                        <p>...</p>
                     <a href="#" class="btn btn-default" role="button">Button</a></p>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                          <div class="caption">
                            <h3>press relise</h3>
                            <p>...</p>
                     <a href="#" class="btn btn-default" role="button">Button</a></p>
                          </div>
                        </div>
                      </div>
                
      </div>














<div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
              <h3>Product description</h3>
              <p>...</p>
        <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                  <div class="caption">
                    <h3>Socila Meadi</h3>
                    <p>...</p>
        <a href="#" class="btn btn-default" role="button">Button</a></p>
                  </div>
                </div>
              </div>
  
              <div class="col-sm-6 col-md-3">
                    <div class="thumbnail">
                      <div class="caption">
                        <h3>Book Story/writing</h3>
                        <p>...</p>
        <a href="#" class="btn btn-default" role="button">Button</a></p>
                      </div>
                    </div>
                  </div>
  
                  <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                          <div class="caption">
                            <h3>video script</h3>
                            <p>...</p>
        <a href="#" class="btn btn-default" role="button">Button</a></p>
                          </div>
                        </div>
                      </div>
                
      </div>

          <div class="row">
                <div class="col-sm-6 col-md-3">
                  <div class="thumbnail">
                    <div class="caption">
                      <h3>news letter</h3>
                      <p>...</p>
        <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-3">
                        <div class="thumbnail">
                          <div class="caption">
                            <h3>Content</h3>
                            <p>...</p>
        <a href="#" class="btn btn-default" role="button">Button</a></p>
                          </div>
                        </div>
                      </div>
          
                      <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                              <div class="caption">
                                <h3>new Content</h3>
                                <p>...</p>
                                <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                              </div>
                            </div>
                          </div>
          
                          <div class="col-sm-6 col-md-3">
                                <div class="thumbnail">
                                  <div class="caption">
                                    <h3>Custom Content</h3>
                                    <p>...</p>
                                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                                  </div>
                                </div>
                              </div>
                        
                            </div>

              <div class="row">
                    <div class="col-sm-6 col-md-6">
                      <div class="thumbnail">
                        <div class="caption">
                          <h3>news letter</h3>
                          <p>...</p>
            <a href="#" class="btn btn-default" role="button">Button</a></p>
                        </div>
                      </div>
                    </div>
    
                    <div class="col-sm-6 col-md-6">
                            <div class="thumbnail">
                              <div class="caption">
                                <h3>Content</h3>
                                <p>...</p>
            <a href="#" class="btn btn-default" role="button">Button</a></p>
                              </div>
                            </div>
                          </div>
               
                  </div>